#tool {
    max-width: 100px;
    background-color: black;
    color: white;
    opacity: 0.9;
    font-size: 8pt;
    font-family: sans-serif;
    margin: 3px;
    border: 2px solid white;
    border-radius: 10px 10px 10px 0;
    padding: 2px 0 2px 5px;
}