<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 autores">
        <ul>
          <li>
            <a href="mailto:baptista@dsc.ufcg.edu.br?Subject=Concurso%20Dados%Abertos" target="_top">Prof. Cláudio de Souza Baptista, Ph.D.</a>
          </li>
          <li>
            <a href="mailto:danielfariasleite@gmail.com?Subject=Concurso%20Dados%Abertos" target="_top">Daniel Farias Batista Leite</a>
          </li>
          <li>
            <a href="mailto:juliohenriquerocha@gmail.com?Subject=Concurso%20Dados%Abertos" target="_top">Júlio Henrique Rocha</a>
          </li>
        </ul>
      </div>

      <div class="col-md-5">
        <img [src]="imagelsi" class="icon">
        <a href="http://lsi.ufcg.edu.br/">Laboratório de Sistemas de Informação</a> <br/><br />
        <img [src]="imageufcg" class="icon-ufcg">
        <a href="http://www.ufcg.edu.br/index1.php">Universidade Federal de Campina Grande</a>
      </div>
    </div>
    Brasil Mapeado - <a href="https://github.com/juliohenriquerocha/cidade-mapeada-lsi" title="Veja no Github"><i class="fa fa-github"></i> </a>
    <br />
  </div>
</footer>
