<app-navbar></app-navbar>
<div class="container">

    <div class="col-12">

      <div style="text-align:justify;">

        <h1>A Aplicação</h1>

        O Brasil Mapeado é um aplicativo que
        permite a visualização em uma dimensão espacial de vários tipos de
        instalações e os espaços físicos, públicos ou privados, onde é
        prestado de forma presencial algum tipo de serviço do poder público
        à pessoa física ou jurídica. <br/><br>O aplicativo foi construido para o o 2º Concurso
        de Aplicativos para Dados Abertos realizado pelo Ministério do Planejamento, Orçamento
        e Gestão; e pelo Comitê Gestor da Internet no Brasil (CGI.Br), representado pelo Núcleo
        de Informação e Coordenação do Ponto BR (NIC.Br), por meio do Escritório Brasileiro do W3C Brasil

        <br/><br/>

        A partir da localização fornecida (primeiramente tenta-se obter a localização através de um <a href="http://www.w3schools.com/html/html5_geolocation.asp">
        serviço de geolocalização disponível na internet</a> - verificar se o browser tem permissão de geolocalização - e no caso de insucesso, o usuário poderá
        digitar sua cidade ou endereço atual), a aplicação será iniciada com o mapa tendo como ponto central sua localização. Atentamos que o serviço de
        localização não é muito preciso, porém ao ser acessado por dispositivos móveis que disponha da ferramente de GPS e está esteja ativada, a geocodificação
        é mais precisa.

        <br/><br/>

        No lado direita da aplicação, tem-se o gerenciador de camadas, no qual são exibidas todas as camadas de equipamentos
        públicos disponíveis. Ao selecionar qualquer uma das camadas, será exibido no mapa, caso existam, os equipamentos
        mais próximos de sua localização. Clicando sobre qualquer um dos ícone, um Info-Window (janela de informação) com os
        detalhes dos equipamentos será exibida, tendo a possibilidade de compartilhamento com Facebook ou Twitter.



        <h1>Quem Somos</h1>

        O aplicativo foi construído por membros do Laboratório de Sitemas de Informação (LSI),
        sendo dois estudantes do curso de Ciência da Computaçao da UFCG e um coordenador.<br/><br/>
        <a href="mailto:baptista@dsc.ufcg.edu.br?Subject=Concurso%20Dados%Abertos" target="_top">Prof. Cláudio de Souza Baptista, Ph.D.</a><br/>
        <a href="mailto:danielfariasleite@gmail.com?Subject=Concurso%20Dados%Abertos" target="_top">Daniel Farias Batista Leite</a><br/>
        <a href="mailto:juliohenriquerocha@gmail.com?Subject=Concurso%20Dados%Abertos" target="_top">Júlio Henrique Rocha</a><br/>
        <a href="mailto:helljho@gmail.com?Subject=Concurso%20Dados%Abertos" target="_top">Hélisson Luíz do Nascimento</a>

        <br/><br/>

        <h1>Laboratório de Sitemas de Informação (LSI)</h1>

        O Laboratório de Sistemas de
        Informação (LSI) é vinculado ao Departamento de Sistemas e
        Computação da Universidade Federal de Campina Grande (UFCG). O
        integrantes do LSI desenvolvem atividades de pesquisa científica e
        aplicada, ensino e extensão na área de Sistemas de Informação e
        Banco de Dados. <br/> <br/> Na pesquisa científica, buscam-se resultados
        inovadores nos campos de Sistemas de Suporte à Decisão (Data
        Warehousing), Banco de Dados Espaço-Temporal, Banco de Dados
        Multimídia, Bibliotecas Digitais, Banco de Dados Móveis, Mineração
        de Dados e Informática no Ensino. <br/><br/>Dessa forma, a produção
        científica dos integrantes do grupo é vasta, abrangendo desde
        publicações em conferências nacionais e internacionais até
        periódicos e livros. <br/><br/>Além disso, também são realizadas atividades
        de consultoria em Banco de Dados, Sistemas de Informação, SGBD
        Oracle 11g e PostgreSQL. Por fim, ainda são ministrados cursos de
        extensão nas áreas de Data Warehousing, Mineração de Dados, Banco
        de Dados Espaço-Temporal, Bibliotecas Digitais e Integração de
        Banco de Dados com a Web.

        <br/> <br/>


        <h1>Contato</h1>

        <div class="row">

          <div class="col-md-6">

            <i class="fa fa-map-marker" aria-hidden="true"></i> Rua Aprígio Veloso, 882, Bairro Universitário - Campina Grande/PB<br>
            <i class="fa fa-phone" aria-hidden="true"></i>      (83) 2101 1921<br>
            <i class="fa fa-home" aria-hidden="true"></i>       <a href="http://lsi.ufcg.edu.br/">www.lsi.ufcg.edu.br</a>

          </div>

          <div class="col-md-6">
            <iframe width="500" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://www.google.com.br/maps/ms?ie=UTF8&amp;hl=pt-BR&amp;msa=0&amp;t=h&amp;msid=102962237346043988907.
							00045318cd1ace1047b7a&amp;s=AARTsJrB41JzlGUE7z23a65jK9PJ6fZi3g&amp;ll=-7.213636,-35.90759&amp;spn=0.003725,0.
							00456&amp;z=17&amp;output=embed">
            </iframe>
          </div>

        </div>

      </div>
    </div>

</div>
