<app-navbar></app-navbar>
<img [src]="image" id="world"/>
<div class="container">
  <div class="offset-md-3 col-md-7 col-12" id="get-city">
        <div id="text">
          O <b>Brasil Mapeado</b> é um aplicativo que permite a visualização em uma dimensão espacial de vários tipos de instalações e os espaços físicos, públicos ou privados, onde é prestado de forma presencial algum tipo de serviço do poder público.
        </div>
        <div class="form-group">
          <input type="text" id='inputCidadeInicial' class="form-control"
                 placeholder="Digite o nome da sua cidade">
        </div>
      <button class="btn" id="buscar">BUSCAR</button>
  </div>
</div>
<app-footer></app-footer>
